@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f3eee7;
}
.page-container {
  max-width: 100vw;
  @apply mx-auto;
  padding: 50px;
}
.swiper-list .swiper-slide {
  width: 300px;
  z-index: -99;
}

.swiper-list2 .swiper-slide {
  width: 450px;
  z-index: -99;
}
.navigation ul li {
  color: black;
  cursor: pointer;
  text-align: right;
  text-transform: uppercase;
  list-style-type: none;
  font-size: 1.5em;
  padding: 20px 30px;
  border-bottom: 1pt solid #252525;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 999;
}

.backdrop.visible {
  opacity: 1;
  visibility: visible;
  backdrop-filter: blur(5px);
}
.custom-radio {
  width: 10px;
  height: 10px;
}
.custom-radio > div {
  box-shadow: 0 0 0 5px white;
  border: 1px solid;
}
.custom-radio input:checked + div {
  @apply bg-blue-500;

  box-shadtow: 0 0 0 2.5px white,
    0 0 0 5px rgb(59 130 246 / var(--tw-bg-opacity));
}
.custom-checkbox input:checked + div .custom-checkbox-square {
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}
.custom-checkbox-square {
  width: 20px;
  height: 20px;
  border: 1px solid;
}
.roomlist > li:hover {
  text-decoration: underline;
}

.skeleton {
  background-color: #eee;
  background-image: linear-gradient(
    110deg,
    #ececec 8%,
    #f5f5f5 18%,
    #ececec 33%
  );
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.banner {
  background-image: url("./img/BE_Amanoi.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.fade-in {
  animation: fadeInAnimation 0.5s ease-in;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dropdown {
  animation: dropdownAnimation 0.5s ease-in;
}

@keyframes dropdownAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in {
  transform: translateY(0);
  transition: transform 0.5s ease-in;
}

.hidden {
  transform: translateY(100%);
}
